{include file="public/menu" /}

<script src="/menu/assets/plugins/jquery/jquery.min.js"></script>



<body class="bg-light-gray" id="body">
<div class="container d-flex flex-column justify-content-between vh-100">
    <div class="row justify-content-center mt-5">
        <div class="col-xl-5 col-lg-6 col-md-10">
            <div class="card">
                <div class="card-header bg-primary">
                    <div class="app-brand">
                        <a href="{:url('home/login/index')}">
                            <svg class="brand-icon" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="30" height="33"
                                 viewBox="0 0 30 33">
                                <g fill="none" fill-rule="evenodd">
                                    <path class="logo-fill-blue" fill="#7DBCFF" d="M0 4v25l8 4V0zM22 4v25l8 4V0z" />
                                    <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z" />
                                </g>
                            </svg>
                            <span class="brand-name">登陆页面</span>
                        </a>
                    </div>
                </div>
                <div class="card-body p-5">

                    <h4 class="text-dark mb-5" style="padding-left: 100px">登陆个人中心</h4>
                        <div class="row">
                            <div class="form-group col-md-12 mb-4">
                                <input type="email" class="form-control input-lg" id="username" aria-describedby="emailHelp" placeholder="账号">
                            </div>
                            <div class="form-group col-md-12 ">
                                <input type="password" class="form-control input-lg" id="password" placeholder="密码">
                            </div>
                            <div class="col-md-12">
                                <div class="d-flex my-2 justify-content-between">


                                </div>
                                <button type="submit" class="btn btn-lg btn-primary btn-block mb-4 login" id="login">登陆</button>


                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright pl-0">

    </div>
</div>
</body>

</html>
<script>

    $('#login').on("click",function(){
        var username = $('#username').val();
        var password = $('#password').val();
        if(username == ''){
            alert('请输入账号！');return
        }
        if(password == '') {
            alert('请输入密码！');return
        }

        $.ajax({
            type: "POST",
            url: "{:url('home/login/login')}",
            data: {
                'username' : username ,
                'password' : password ,

            },  // 等号前后不要加空格
            success: function(msg){  //请求成功后的回调函数

                if(msg == '200'){
                    window.location.href= "<?php echo url('home/index/index'); ?>"
                }else {
                    alert(msg)
                }
            }

        });
    });

</script>


