<aside class="left-sidebar bg-sidebar">
  <div id="sidebar" class="sidebar sidebar-with-footer">
    <!-- Aplication Brand -->
    <div class="app-brand">
      <a href="{:url('home/index/index')}">
        <svg
                class="brand-icon"
                xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid"
                width="30"
                height="33"
                viewBox="0 0 30 33"
        >
          <g fill="none" fill-rule="evenodd">
            <path
                    class="logo-fill-blue"
                    fill="#7DBCFF"
                    d="M0 4v25l8 4V0zM22 4v25l8 4V0z"/>
            <path class="logo-fill-white" fill="#FFF" d="M11 4v25l8 4V0z" />
          </g>
        </svg>
        <span class="brand-name">个人系统</span>
      </a>
    </div>
    <!-- begin sidebar scrollbar -->
    <div class="sidebar-scrollbar">

      <!-- sidebar menu -->
      <ul class="nav sidebar-inner" id="sidebar-menu">


        <li  class="has-sub expand" >
          <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#dashboard"
             aria-expanded="false" aria-controls="dashboard">
            <i class="mdi mdi-folder-multiple-outline"></i>
            <span class="nav-text">代购模块</span> <b class="caret"></b>
          </a>

          <ul  class="collapse show"  id="dashboard" data-parent="#sidebar-menu">
            <div class="sub-menu">
              <li >
                <a class="sidenav-item-link" href="{:url('home/music/show')}">
                  <span class="nav-text">音乐播放器</span>

                </a>
              </li>
              <li >
                <a class="sidenav-item-link" href="{:url('home/wechatuser/Show')}">
                  <span class="nav-text">微信客户列表</span>

                </a>
              </li>     <li >
              <a class="sidenav-item-link" href="{:url('home/product/index')}">
                <span class="nav-text">代购产品列表</span>

              </a>
            </li> <li >
              <a class="sidenav-item-link" href="{:url('home/shop/shop')}">
                <span class="nav-text">购物车列表</span>

              </a>
            </li>

              <li >
                <a class="sidenav-item-link" href="{:url('home/order/show')}">
                  <span class="nav-text">订单列表</span>

                </a>
              </li>


            </div>
          </ul>
        </li>



        <li  class="has-sub expand" >
          <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#dashboard"
             aria-expanded="false" aria-controls="dashboard">
            <i class="mdi mdi-folder-multiple-outline"></i>
            <span class="nav-text">个人仓库</span> <b class="caret"></b>
          </a>

          <ul  class="collapse show"  id="dashboards" data-parent="#sidebar-menu">
            <div class="sub-menu">

             <li >
                <a class="sidenav-item-link" href="{:url('home/index/goods')}">
                  <span class="nav-text">物品列表</span>

                </a>
              </li>

              <li >
                <a class="sidenav-item-link" href="{:url('home/index/photo')}">
                  <span class="nav-text">图片列表</span>

                </a>
              </li>
            </div>
          </ul>
        </li>





        <li  class="has-sub expand" >
          <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#ui-elements"
             aria-expanded="false" aria-controls="ui-elements">
            <i class="mdi mdi-folder-multiple-outline"></i>
            <span class="nav-text">小票管理</span> <b class="caret"></b>
          </a>
          <ul  class="collapse show"  id="ui-elements"
               data-parent="#sidebar-menu">
            <div class="sub-menu">

              <li >
                <a class="sidenav-item-link" href="{:url('home/invoice/index')}">
                  <span class="nav-text">小票列表</span>

                </a>
              </li>

              <li >
                <a class="sidenav-item-link" href="{:url('home/invoice/photo')}">
                  <span class="nav-text">小票图片</span>

                </a>
              </li>

            </div>
          </ul>
        </li>




        <li  class="has-sub expand" >
          <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#pages"
             aria-expanded="false" aria-controls="pages">
            <i class="mdi mdi-image-filter-none"></i>
            <span class="nav-text">财务管理</span> <b class="caret"></b>
          </a>
          <ul  class="collapse show"  id="pages"
               data-parent="#sidebar-menu">
            <div class="sub-menu">

              <li >
                <a class="sidenav-item-link" href="{:url('home/pay/index')}">
                  <span class="nav-text">收支管理</span>

                </a>
              </li>
            </div>
          </ul>
        </li>





        <li  class="has-sub expand" >
          <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#documentation"
             aria-expanded="false" aria-controls="documentation">
            <i class="mdi mdi-book-open-page-variant"></i>
            <span class="nav-text">设置管理</span> <b class="caret"></b>
          </a>
          <ul  class="collapse show"  id="documentation"
               data-parent="#sidebar-menu">
            <div class="sub-menu">

              <li  class="has-sub expand" >
                <a class="sidenav-item-link" href="javascript:void(0)" data-toggle="collapse" data-target="#headers"
                   aria-expanded="false" aria-controls="headers">
                  <span class="nav-text">个人设置</span> <b class="caret"></b>
                </a>
                <ul  class="collapse show"  id="headers">
                  <div class="sub-menu">

                    <?php if($user['id'] == 1){ ?>
                    <li >
                      <a href="{:url('home/cate/index')}">分类管理</a>
                    </li>
                    <?php } ?>



                    <li >
                      <a href="{:url('home/user/edit')}">个人管理</a>
                    </li>

                  </div>
                </ul>
              </li>

            </div>
          </ul>
        </li>



      </ul>

    </div>

    <hr class="separator" />

    <div class="sidebar-footer">
      <div class="sidebar-footer-content">
        <h6 class="text-uppercase">
          杜鑫鑫 <span class="float-right">20%</span>
        </h6>
        <div class="progress progress-xs">
          <div
                  class="progress-bar active"
                  style="width: 20%;"
                  role="progressbar"
          ></div>
        </div>
        <h6 class="text-uppercase">
          Memory Uses <span class="float-right">65%</span>
        </h6>
        <div class="progress progress-xs">
          <div
                  class="progress-bar progress-bar-warning"
                  style="width: 65%;"
                  role="progressbar"
          ></div>
        </div>
      </div>
    </div>
  </div>
</aside>