{include file="public/menu" /}


<body class="header-fixed sidebar-fixed sidebar-dark header-light" id="body">
<script>
    NProgress.configure({ showSpinner: false });
    NProgress.start();
</script>

<div class="mobile-sticky-body-overlay"></div>

<div class="wrapper">
    <style>

        .pages{float: right}
        .pages a,.pages span {
            display:inline-block;
            padding:20px 20px;
            border:1px solid #f0f0f0;
            -webkit-border-radius:3px;
            -moz-border-radius:3px;
            border-radius:30px;
            font-size: 14px;
        }
        .pages a,.pages li {

            display:inline-block;
            list-style: none;
            text-decoration:none; color:#58A0D3;
        }
        .pages a.first,.pages a.prev,.pages a.next,.pages a.end{
            margin:0 auto;
        }
        .pages a:hover{
            border-color:#50A8E6;
        }
        .pages span.current{
            background:#50A8E6;
            color:#FFF;
            font-weight:700;
            border-color:#50A8E6;
        }

    </style>
    <!--
====================================
——— LEFT SIDEBAR WITH FOOTER
=====================================
-->
    {include file="public/left" /}

    <div class="page-wrapper">
        <!-- Header -->
        {include file="public/header" /}

        <div class="content-wrapper">
            <div class="content">
                <div class="breadcrumb-wrapper">

                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb p-0">
                            <li class="breadcrumb-item">  </li>
                            <li class="breadcrumb-item" aria-current="page"><a href="{:url('home/wechatuser/add')}">添加客户</a></li>
                            <li class="breadcrumb-item">
                                <a href="{:url('home/wechatuser/showlist')}">微信好友列表</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{:url('home/wechatuser/show')}">客户列表</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="{:url('home/wechatuser/userStart')}">客户申请好友列表</a>
                            </li>
                            <li class="breadcrumb-item">
                            <a href="{:url('home/wechatuser/usergo')}">客户待审核列表</a>
                        </li>

                            <li class="breadcrumb-item">
                                <a href="{:url('home/wechatuser/userbin')}">客户回收站</a>
                            </li>
                        </ol>
                    </nav>
                </div>

                <div class="row">
                    <div class="col-12">
                        <!-- Recent Order Table -->
                        <div class="card card-table-border-none" id="recent-orders">
                            <form>
                                <div class="card-header justify-content-between">
                                    <h2>客户回收站</h2>
                                    <div >

                                    </div>
                                    <div >

                                    </div>
                                    <div >

                                    </div>
                                    <div >

                                    </div>
                                    <div >

                                    </div>
                                    <div >

                                    </div>
                                    <div >

                                    </div>
                                    <div >

                                    </div>
                                    <div >

                                    </div>
                                    <div >

                                    </div>
                                    <div >

                                    </div>
                                    <div >

                                    </div>
                                    <div >
                                    </div>
                                    <div >
                                        <input type="text" class="form-control" id="validationServer01" placeholder="微信号" name="WeChat" value="<?php echo !empty($search['WeChat']) ? $search['WeChat'] : '';?>" >
                                    </div>

                                    <div>
                                        <!--<label for="validationServer02">分类</label>-->
                                        <input type="text" class="form-control" id="validationServer02" placeholder="手机号" name="iphone" value="<?php echo !empty($search['iphone']) ? $search['iphone'] : '';?>" >

                                    </div>

                                    <button class="btn btn-primary" >查询</button>

                                </div>
                            </form>
                            <div class="card-body pt-0 pb-5">
                                <table class="table" style="width:100%">
                                    <thead>
                                    <tr style="color: #0e121f;">
                                        <th style="color: #0e121f;">ID</th>
                                        <th style="color: #0e121f;">客户名称</th>
                                        <th style="color: #0e121f;">微信号</th>
                                        <th style="color: #0e121f;">手机号</th>
                                        <th style="color: #0e121f;" class="d-none d-md-table-cell">性别</th>
                                        <th style="color: #0e121f;" class="d-none d-md-table-cell">备注</th>
                                        <th style="color: #0e121f;" class="d-none d-md-table-cell">地址</th>
                                        <th style="color: #0e121f;">创建时间</th>
                                        <th ></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {foreach name="list.data" item="value"}

                                    <tr class="table table-dark">
                                        <td style="color: #0e121f;">{$value.id}</td>
                                        <td style="color: #0e121f;">{$value.name}</td>
                                        <td style="color: #0e121f;" class="d-none d-md-table-cell">{$value.WeChat}</td>
                                        <td  style="color: #0e121f;"class="d-none d-md-table-cell">

                                            <?php if(!empty($value['iphone'])) { ?>
                                            {$value.iphone}
                                            <?php } else { ?>
                                            暂无
                                            <?php } ?>

                                        <td style="color: #0e121f;" class="d-none d-md-table-cell">
                                            <?php if(!empty($value['sex'])) { ?>
                                            {$value.sex}
                                            <?php } else { ?>
                                            未知
                                            <?php } ?>
                                        </td>
                                        <td style="color: #0e121f;" class="d-none d-md-table-cell">
                                            <?php if(!empty($value['remarks'])) { ?>
                                            {$value.remarks}
                                            <?php } else { ?>
                                            暂无
                                            <?php } ?>
                                        </td> <td style="color: #0e121f;" class="d-none d-md-table-cell">
                                        <?php if(!empty($value['address'])) { ?>
                                        {$value.address}
                                        <?php } else { ?>
                                        暂无
                                        <?php } ?>
                                    </td>






                                        <td style="color: #0e121f;" >{$value.addtime|date="Y-m-d H:i:s",###}</td>

                                        <td style="color: #0e121f;"     class="text-right">
                                            <div class="dropdown show d-inline-block widget-dropdown">
                                                <a class="dropdown-toggle icon-burger-mini" href="" role="button" id="dropdown-recent-order1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></a>
                                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order1">
                                                    <li class="dropdown-item">
                                                        <a href="javascript:return false;"  onclick="delRelation('{$value.id}')"    class="delads">移出回收站</a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    {/foreach}
                                    </tbody>
                                </table>
                                <tfoot>
                                <!--分页显示？-->
                                <tr><td textalign="center" cl nowrap="true" colspan="9" height="20"><div class="pages" style="color: #0f0f0f;">{$list.page}</div><h4 style="color: #0e121f;">共{$list.num}条</h4></td></tr>
                                </tfoot>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    function delRelation( id ){
        var id = id;



        if (id == '') {
            alert("操作失败！");return false;
        }

        if(window.confirm('你确定要移出回收站吗？')){

            $.ajax({
                type: "POST",
                url: "{:url('home/wechatuser/status')}",
                data: { 'id' : id , 'status' : 1 },  // 等号前后不要加空格
                success: function(msg){  //请求成功后的回调函数
                    alert(msg);
                    location.replace(location)
                }

            });

        }else{
            //alert("取消");
            return false;
        }

    }

</script>