{include file="public/menu" /}


<body class="sidebar-fixed sidebar-dark header-light header-fixed" id="body">
<script>
    NProgress.configure({ showSpinner: false });
    NProgress.start();
</script>

<div class="mobile-sticky-body-overlay"></div>

<div class="wrapper">

    <!--
====================================
——— LEFT SIDEBAR WITH FOOTER
=====================================
-->
    {include file="public/left" /}

    <div class="page-wrapper">

        {include file="public/header" /}

        <div class="content-wrapper">
            <div class="content">
                <div class="breadcrumb-wrapper">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb p-0">
                        <li class="breadcrumb-item">  </li>
                        <li class="breadcrumb-item" aria-current="page"><a href="{:url('home/invoice/add')}">添加小票</a></li>
                        <li class="breadcrumb-item">
                            <a href="{:url('home/invoice/index')}">小票列表</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{:url('home/invoice/invoiceBin')}">小票回收站</a>
                        </li>
                    </ol>
                </nav>

            </div>
                <!-- Top Statistics -->
                <div class="row">
                    <div class="col-lg-6 content">
                        <div class="card card-default">
                            <div class="card-header card-header-border-bottom">
                                <h2>输入小票信息</h2>
                            </div>
                            <div class="card-body">
                                <form action="{:url('home/invoice/add')}"   enctype="multipart/form-data" method="post">
                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <label for="validationServer01">小票名称</label>
                                            <input type="text" class="form-control" id="validationServer01" placeholder="请输入小票名称" name="username" value="" required>
                                        </div>
                                        <div class="col-md-12 mb-3">
                                            <label for="validationServer02">小票分类</label>
                                            <select class="form-control" name="class" id="validationServer02" required>
                                                <option value="">请选择</option>

                                                {foreach name="classData" item="value"}
                                                <option value ="{$value.id}">{$value.classname}</option>
                                                {/foreach}

                                            </select>
                                        </div>

                                        <div class="col-md-12 mb-3">
                                            <label for="validationServerUsername">小票号码</label>
                                            <input type="text" class="form-control price"   name="number" placeholder="请输入小票号码" aria-describedby="inputGroupPrepend3">

                                        </div>

                                        <div class="col-md-12 mb-3">
                                            <label for="validationServerUsername">结算金额</label>
                                            <input type="text" class="form-control price"   name="price" placeholder="请输入小票结算金额" aria-describedby="inputGroupPrepend3">

                                        </div>

                                        <div class="col-md-12 mb-3">
                                            <label for="validationServerUsername">开票时间</label>
                                         <input  class="form-control"  name="usetime" id="meeting" type="date" value=""/>
                                        </div>


                                        <div class="col-md-12 mb-3">
                                            <label for="validationServerUsername">小票图片</label>
                                            <input type="file" class="form-control"  name="image"  aria-describedby="inputGroupPrepend3">

                                        </div>

                                        <div class="col-md-12 mb-3">
                                            <label for="validationServerUsername">小票地址</label>
                                            <textarea  class="form-control"  name="address" id="validationServerUsername" placeholder="" aria-describedby="inputGroupPrepend3"
                                                       required> </textarea>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" type="submit">提交表单</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    //输入金额验证
    $(".price").keyup(function () {
        var reg = $(this).val().match(/\d+\.?\d{0,2}/);
        var txt = '';
        if (reg != null) {
            txt = reg[0];
        }
        $(this).val(txt);
    }).change(function () {
        $(this).keypress();
        var v = $(this).val();
        if (/\.$/.test(v))
        {
            $(this).val(v.substr(0, v.length - 1));
        }
    });

</script>